@use '../custom' as *;
.display-2 {
    margin-bottom: 1rem;
    &--heading {
        display: inline-block;
        font-weight: 700;
    }
    &--description {
        font-size: 1.085rem;
        display: block;
        margin: 1.25rem auto;
        @include media-breakpoint-up(lg) {
            font-size: 1.285rem;
            display: inline-block;
        }
    }
}

.display-4 {
    margin-bottom: 0.5rem;
    &--heading {
        display: inline-block;
        font-weight: 700;
    }
    &--description {
        font-size: 1.085rem;
        display: block;
        margin: 0.5rem auto;
        @include media-breakpoint-up(lg) {
            font-size: 1.185rem;
            display: inline-block;
        }
    }
}