@use '../custom' as *;
@use '../components/mixins' as *;
#faq {
    .section-title {
        @include media-breakpoint-up(lg) {
            margin-top: -60px;
        }
        @include media-breakpoint-up(xl) {
            margin-top: -120px;
        }
    }
    .accordion {
        .accordion-item {
            border-radius: 6px !important;
            -webkit-border-radius: 6px !important;
            -moz-border-radius: 6px !important;
            -ms-border-radius: 6px !important;
            -o-border-radius: 6px !important;
            h2 {
                button {
                    font-size: 1.15rem;
                    font-weight: 700;
                    box-shadow: none !important;
                }
            }
            .accordion-body {
                padding-top: 0 !important;
                a {
                    color: $blue !important;
                }
            }
        }
    }
}